* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;

}

.btn{
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 1em;
  padding:10px 20px;
  margin: 10px;
  display: inline-block;
}

body {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
   color: #000;
}

a:hover
a:focus {
  opacity : .8;

}

#hero {
  background-color: #603;
}