<<<<<<< HEAD
<style>
  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }
=======
<style>
  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }
>>>>>>> e8966e3bdd6e9d291d405b940d06f628b37047f7
</style>